app/src/main/res/raw/subject.dtd

<!ELEMENT subject (name, requirement)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT requirement (test*, homework*, consultation*)>
<!ELEMENT test (date, hardness, thematics?)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT thematics (#PCDATA)>
<!ELEMENT hardness (#PCDATA)>
<!ELEMENT consultation (date, hardness, thematics?)>
<!ELEMENT homework (date, hardness, thematics?)>

